@import "_variables";

.header{
  border-bottom: 1px solid $border;
  &__mainnav{
    border-bottom: 1px solid $border;
    .container{
      background: url("/assets/icons/header_background.svg") no-repeat 54% 0 transparent;
      background-size:auto 100%;
      .navbar{
        background: none;
      }
    }
  }
  &__logo{
    max-height: 40px !important;
  }
  &__login-link{
    position: relative;
    &:after{
      content: '/';
      position: absolute;
      right: -0.2rem;
      font-weight: bold;
      color: $primary;
    }
  }
  &__lang-switch{
    padding: 0.1em 0.75em 0 0.75em;
    .icon{
      width: auto;
      height: auto;
    }
  }

  &__catalog{
    .control .select{
      &:after{
        border-color: $input-color;
      }
    }
    &-filter{
      &-params{
        color: $t-color-text-header-params;
      }
      .icon-text{
        vertical-align: middle;
      }
    }
  }
  &__basket{
    color: $text;
    padding: calc(0.72rem - 1px) 0;
    margin-left: ($block-spacing * 0.5);
  }
}
