<header class="header">
  <div class="header__mainnav">
    <div class="container py-4">
      <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink="/">
            <img src="assets/imgs/logo.svg" class="header__logo" width="111" height="40" alt="Автостелс">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" routerLink="/client" >Клиентам</a>
            <a class="navbar-item" routerLink="/supplier" >Поставщикам</a>
            <a class="navbar-item" routerLink="/academy" >Академия</a>
            <a class="navbar-item" routerLink="/career" >Карьера</a>
          </div>

          <div class="navbar-end">
            <a class="navbar-item is-primary header__login-link" (click)="onClickLogin()">
              <strong>Войти</strong>
            </a>
            <a class="navbar-item is-primary" (click)="onClickRegistration()">
              <strong>Регистрация</strong>
            </a>
            <div class="navbar-item">
              <a (click)="onClickPhone()" class="button is-primary is-light">
                    <span class="icon">
                      <i class="uicon-phone"></i>
                    </span>
                <span>8 (800) 302-54-54</span>
              </a>
            </div>
            <div class="navbar-item">
              <a (click)="onClicLanguage()" class="button is-primary is-light header__lang-switch">
                    <span class="icon">
                      <i class="uicon-ru"></i>
                    </span>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="header__catalog">
    <div class="container py-4">
      <div class="level is-align-items-start">
        <div class="level-left is-align-items-start">
          <div class="level-item">
            <a (click)="onClickCatalog()" class="button is-medium is-primary is-outlined">Каталог</a>
          </div>
          <div class="level-item">
            <form [formGroup]="searchCarForm" novalidate (ngSubmit)="onSubmit(searchCarForm.value)">
            <div>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input is-medium" type="text" placeholder="Номер, VIN или название в поиске" formControlName="vin">
                </div>
                <div class="control">
                  <div class="select is-medium">
                    <select class="" formControlName="brand">
                      <option hidden value="-1">Бренд</option>
                      <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="control">
                  <div class="select is-medium">
                    <select class="" formControlName="model">
                      <option hidden value="-1">Машина</option>
                      <option *ngFor="let model of models" [value]="model.id">{{model.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="control">
                  <button type="submit" class="button is-primary is-medium">
                    <span class="icon"> <i class="uicon-hang_glass"></i></span>
                  </button>
                </div>
              </div>
              <div class="field header__catalog-filter">
                <div class="control is-size-7">
                  <label class="radio">
                    <input type="radio" formControlName="typeSearch" value="exactly">
                    <span></span>
                    По точному совпадению
                  </label>
                  <label class="radio ml-4">
                    <input type="radio" formControlName="typeSearch" value="firstSymbol">
                    <span></span>
                    По первым символам
                  </label>
                  <span class="header__catalog-filter-params">
                        <span class="icon-text ml-4">
                          <span class="icon">
                            <i class="uicon-users"></i>
                          </span>
                          <span>Заказ для: <b>Автово</b></span>
                        </span>
                        <a (click)="onClickParamOrder()" class="icon-text ml-4">
                          <span class="icon">
                            <i class="uicon-filter"></i>
                          </span>
                          <span>Параметры заказа</span>
                        </a>
                      </span>
                </div>
              </div>
            </div>
            </form>
          </div>

          <div class="level-item">
            <a (click)="onClickHelpSelection()" class="button is-medium">Помощь в подборе</a>
          </div>
          <div class="level-item">
            <a (click)="onClickDownload()" class="button is-medium">
                  <span class="icon">
                    <i class="uicon-doc_download"></i>
                  </span>
            </a>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a class="header__basket" (click)="onClickBasket()">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="uicon-basket"></i>
                    </span>
                    <span class="is-size-8">
                      <strong>
                        34 500 ₽
                        <span class="has-text-grey-light">(4)</span>
                      </strong>
                    </span>
                  </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
