<main>
  <section class="section">
    <div class="container has-text-centered p-6 is-size-1">
      Содержимое
    </div>
  </section>
</main>
<footer class="footer has-text-centered">
  <div class="container">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop is-size-1">
        Подвал
      </div>
    </div>
  </div>
</footer>
