.button{
  font-size: $t-control-font-size;
  font-weight: bold;
  &.is-primary{
    &:hover{
      background: $primary-dark;
    }
    &.is-light{
      color: $primary;
      background: $primary-light;
      &:hover,
      &.is-hovered{
        color: #fff;
        background: $primary;
      }
    }
    &.is-outlined{
      color: $text;
    }
  }
  &.is-medium{
    padding: calc(1.6em - 1px) 2.1em;
    font-size: $t-control-font-size;
  }
}
