input[type=radio]{
  position: absolute;
  left: -1000px;
  & + span{
    position: relative;
    display: inline-block;
    top: 0.1em;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/radiobutton.svg");
  }
  &:checked + span{
    background-image: url("/assets/icons/radiobutton_checked.svg");
  }
}

.input.is-medium{
  padding: calc(1.6em - 1px) 1.4em;
  font-size: $t-control-font-size;
}
.select.is-medium{
  font-size: $t-control-font-size;
  &, select{
    height: 3.2em;
  }
}
