[class^="uicon-"], [class*=" uicon-"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}
.uicon-doc_download{
  width: 24px;
  height: 24px;
  background-image: url("/assets/icons/doc_download.svg");
}
.uicon-ru{
  width: 29px;
  height: 29px;
  background-image: url("/assets/icons/ru.svg");
}
.uicon-hang_glass{
  width: 18px;
  height: 18px;
  background-image: url("/assets/icons/hand_glass.svg");
}
.uicon-basket{
  width: 24px;
  height: 24px;
  background-image: url("/assets/icons/basket.svg");
  margin-top: -0.2em;
}
.uicon-users{
  width: 24px;
  height: 24px;
  background-image: url("/assets/icons/users.svg");
  margin-top: -0.2em;
}
.uicon-filter{
  width: 24px;
  height: 24px;
  background-image: url("/assets/icons/filter.svg");
  margin-top: -0.2em;
}

.uicon-phone{
  width: 15px;
  height: 15px;
  background-image: url("/assets/icons/phone.svg");
  //margin-top: -0.2em;
  .button:hover &{
    background-image: url("/assets/icons/phone_hover.svg");
  }
}
