<footer class="footer has-text-centered">
  <div class="container">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop is-size-1">
        footer works!
      </div>
    </div>
  </div>
</footer>
